<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/views/index.ejs">
</head>
<body>

    <h1>Welcome</h1>
    <div class="button-container">
        <button onclick="window.location.href='/display'">View Display</button>
        <button onclick="window.location.href='/create'">Create</button>
    </div>

</body>
</html>
